.dashboard-wrapper {
  padding-top: 50px;
}

.side-screens {
  padding-left: 0;
  .row {
    margin-bottom: 4.5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.screen-holder {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.screen-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.type-selector-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  right: 0;
  .nav {
    float: right;
    &.nav-pills li {
      a {
        border-radius: 0;
        cursor: pointer;
      }
      &.active a {
        opacity: .5;
        cursor: default;
      }
    }
  }
  .background {
    background: $black;
    position: absolute;
    opacity: .75;
    padding: 15px;
    width: 100%;
    height: 100%;
  }
}