.dashboard-wrapper {
  padding-top: 50px;
}

.side-screens {
  padding-left: 0;
  .row {
    margin-bottom: 4.5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.preview-screen {
  //border: 1px solid #999;
  img {
    max-width: 100%;
  }
  .new-screen & {
    margin: 15px 0;
  }
}

.new-screen {
  .show-item {
    padding: 15px;
  }
}

.bar-holder {
  position: relative;
  margin-top: -60px;
  padding: 15px;
  background: transparent url(/transparency.png);
}

.text-row {
  margin-bottom: 15px;
}

.screen-holder {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.screen-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.type-selector-container {
  .nav {
    &.nav-pills li {
      width: 33.3%;
      margin: 0;
      text-align: center;
      a {
        border-radius: 0;
        cursor: pointer;
        font-size: 64px;
      }
      &.active a {
        //opacity: .5;
        //cursor: default;
      }
    }
  }
  .background {
    background: $black;
    position: absolute;
    opacity: .75;
    padding: 15px;
    width: 100%;
    height: 100%;
  }
}