.show-item-holder {
  padding: 0 7.5px;
  position: relative;
}

.show-item {
  padding: 7.5px;
  margin: 7.5px 0;
  border: 1px solid #CCCCCC;
  .show-item-info {
    margin-top: 15px;
  }
  .screens-container {
    .side-screens .preview-screen {
      max-height: 60px;
      overflow: hidden;
    }
  }
  .button-holder {
    a {
      font-size: 21px;
      float: right;
    }
  }
  h3 {
    margin: 7px 0 0;
    text-transform: uppercase;
    font-size: 16px;
  }
}

.video-placeholder {
  background: $black;
  text-align: center;
  i {
    color: white;
  }
  p {
    font-size: 14px;
    position: absolute;
    color: white;
    bottom: 0;
    left: 4px;
    margin-bottom: 2px;
  }
  .main-screen & {
    i {
      line-height: 100%;
      font-size:24px;
    }
  }
}