@import 'partials/base';
@import 'partials/dashboard';
@import 'partials/screen';
@import 'partials/show';

.entry-signup-cta {
  display: none;
}

.picker {
  margin-top: 30px;
}

.navbar-brand {
  cursor: pointer;
  &.active {
    color: white;
  }
}

.preview-screen, .embed {
  img, video {
    display: block;
  }
}

.delete-button {
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
  padding: 2px 5px;
  background: white;
  color: red;
}

.loading-holder {
  width: 100%;
  height: 100%;
  min-height: 300px;
  background: url('/hedgeye-loading.gif') center no-repeat;
}
