@import 'partials/base';
@import 'partials/dashboard';
@import 'partials/screen';
@import 'partials/show';

.entry-signup-cta {
  display: none;
}

.picker {
  margin-top: 30px;
}

.navbar-brand.active {
  color: white;
}

.preview-screen, .embed {
  img, video {
    display: block;
  }
}