<head>
  <title>HEDGIO</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<template name="home">
  <div class="container">
    <div class="row">
        <div class="entry-logo">
            <a href="/"><img src="hedgio-logo.png" alt="logo"></a>
        </div>
      <div class="entry col-sm-6 col-sm-offset-6">
        <h3>Virtual Background Launcher</h3>
        {{> showPicker this}}
        <hr>
        <div class="row">
          <div class="col-sm-9">
            {{#link route='entrySignIn'}}Sign in{{/link}} to set up shows.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="typeSelector">
  <div class="type-selector-container">
    <div class="background"></div>
    <ul class="nav nav-pills">
      <li><a><i class="fa fa-camera"></i></a></li>
      <li class="active"><a><i class="fa fa-film"></i></a></li>
      <li><a><i class="fa fa-youtube-play"></i></a></li>
      <li><a><i class="fa fa-ban"></i></a></li>
    </ul>
  </div>
</template>

<template name="dashboard">
  <div class="page-header">
    <h1>Shows</h1>
  </div>
  {{#each this}}
    {{> showGridItem}}
  {{/each}}
</template>

<template name="edit">
  <div class="page-header">
    <h1>Editing {{name}}</h1>
  </div>
  {{> screens this}}
</template>

<template name="delete">
  <div class="page-header">
    <h1>Confirm deletion of {{name}}</h1>
  </div>
</template>
