<head>
  <title>HEDGIO</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<template name="home">
  <div class="container">
    <div class="row">
        <div class="entry-logo">
            <a href="/"><img src="hedgio-logo.png" alt="logo"></a>
        </div>
      <div class="entry col-sm-6 col-sm-offset-6">
        <h3>Virtual Background Setup</h3>
        {{> showPicker this}}
        <hr>
        <div class="row">
          <div class="col-sm-9">
            {{#link route='entrySignIn'}}Sign in{{/link}} to set up shows.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="showPicker">
  <div class="picker row">
    <div class="form-group col-xs-9">
      {{#constant}}
        <select class="show-picker form-control">
          <option selected="selected" disabled>Select a show...</option>
          {{#each this}}
            <option value="{{name}}">{{name}}</option>
          {{/each}}
        </select>
      {{/constant}}
    </div>
    <div class="form-group col-xs-3">
      <button class="go btn go-btn btn-block btn-default {{goClass}}">GO</button>
    </div>
  </div>
</template>

<template name="1080p">
  <div class="hdtv-1080">
    {{yield}}
  </div>
</template>

<template name="layout">
  {{> navigation}}
  <div class="dashboard-wrapper">
    <div class="container">
      <div class="row">
        {{yield}}
      </div>
    </div>
  </div>
</template>

<template name="screens">
  <div class="screens-container">
    <div class="row">
      <div class="main-screen col-xs-9">
        <div class="embed">
          {{{withTemplate this.main 'main'}}}
        </div>
      </div>
      <div class="side-screens col-xs-3">
        <div class="row">
          <div class="screen-one col-xs-12">
            <div class="embed">
              {{{withTemplate this.one '1'}}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="screen-two col-xs-12">
            <div class="embed">
              {{{withTemplate this.two '2'}}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="screen-three col-xs-12">
            <div class="embed">
              {{{withTemplate this.three '3'}}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="dashboard">
  <div class="page-header">
    <h1>Shows</h1>
  </div>
  {{#each this}}
    {{> showGridItem}}
  {{/each}}
</template>

<template name="edit">
  <div class="page-header">
    <h1>Editing {{name}}</h1>
  </div>
  {{> screens this}}
</template>

<template name="showGridItem">
  <div class="show-item-holder col-sm-4">
    <div class="show-item">
      {{> screens}}
      <div class="show-item-info row">
        <div class="col-xs-9">
          <h3>{{name}}</h3>
        </div>
        <div class="col-xs-3">
          {{#link route='edit' class='btn btn-sm btn-block btn-primary'}}Edit{{/link}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="showList">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Main</th>
        <th>One</th>
        <th>Two</th>
        <th>Three</th>
        <th>Text</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
        <tr>
          <td>{{name}}</td>
          <td>{{main}}</td>
          <td>{{one}}</td>
          <td>{{two}}</td>
          <td>{{three}}</td>
          <td>{{text}}</td>
          <td>{{#link route='edit' class='btn btn-sm btn-primary'}}Edit{{/link}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>
