<template name="dashboard">
  <div class="page-header">
    <h1>Dashboard</h1>
  </div>
  {{> showPicker this}}
  <hr>
  {{> showList}}
</template>

<template name="edit">
  <div class="page-header">
    <h1>Editing {{name}}</h1>
  </div>
  <div class="row text-row">
    <div class="col-sm-9">
      <input type="text" class="form-control" id="ticker-text" value="{{ticker}}" placeholder="Enter ticker text here...">
    </div>
    <div class="col-sm-3 side-screens">
      <button class="btn save-btn btn-primary btn-block">Save Show</button>
    </div>
  </div>
  {{> screensWidget}} 
</template>

<template name="delete">
  <div class="page-header">
    <h1>Confirm deletion of {{name}}</h1>
  </div>
</template>

<template name="typeSelector">
  <div class="type-selector-container">
    <ul class="nav nav-pills">
      <li><a class="image-button"><i class="fa fa-camera"></i></a></li>
      <li><a class="video-button"><i class="fa fa-film"></i></a></li>
      <li><a class="yt-button"><i class="fa fa-youtube-play"></i></a></li>
    </ul>
  </div>
</template>

<template name="loading">
  <div class="loading-holder">
  </div>
</template>
