<template name="image">
  <img src="{{src}}" />
</template>

<template name="video">
  {{#if showThumbnail}}
    <div class="video-placeholder screen-holder">
      <img src="http://hedgio.s3.amazonaws.com/thumbnails/{{code}}.jpg" />
    </div>
  {{else}}
    <video class="autoplayable" width="{{width}}" height="{{height}}" autoplay loop><source src="{{src}}" type="video/mp4">
    </video>
  {{/if}}
</template>

<template name="youtube">
  <div class="video-container">
    <iframe width="{{width}}" height="{{height}}" src="//www.youtube.com/embed/{{src}}?playlist={{src}}{{params}}" frameborder="0" allowfullscreen>
    </iframe>
  </div>
</template>

<template name="ticker">
  <div class="ticker">
    <marquee behavior="alternate" direction="left">
      {{#each tick}}
        <span>{{this}}</span> | HEDGEYE | 
      {{/each}}
    </marquee>
  </div>
</template>

<template name="videoPlaceholder">
  <div class="video-placeholder screen-holder">
    <p>{{code}}</p>
    <img class="img-responsive" src="/video-placeholder.jpg">
  </div>
</template>

<template name="placeholder">
  <img src="/hedgeye.png">
</template>
