<template name="jpg">
  <img src="http://hedgviz.s3.amazonaws.com/{{showName}}/{{src}}.jpg" />
</template>

<template name="png">
  <img src="http://hedgviz.s3.amazonaws.com/{{showName}}/{{src}}.png" />
</template>

<template name="text">
  <div class="ticker">
    <marquee behavior="alternate" direction="left">
      <span>{{marquee}}</span> | HEDGEYE | 
      <span>{{marquee}}</span> | HEDGEYE | 
      <span>{{marquee}}</span> | HEDGEYE | 
      <span>{{marquee}}</span> | HEDGEYE | 
      <span>{{marquee}}</span> | HEDGEYE | 
      <span>{{marquee}}</span> | HEDGEYE | 
      <span>{{marquee}}</span> | HEDGEYE | 
      <span>{{marquee}}</span> | HEDGEYE | 
  </div>
</template>

<template name="mp4">
  <video class="autoplayable" width="100%" loop><source src="http://hedgviz.s3.amazonaws.com/{{showName}}/{{src}}.mp4" type="video/mp4">
  </video>
</template>

<template name="mp4URL">
  <video class="autoplayable" width="100%" loop><source src="{{this}}" type="video/mp4">
  </video>
</template>

<template name="mp4Placeholder">
  <div class="video-placeholder screen-holder">
    <p>{{showName}}/{{src}}.mp4</p>
    <img class="img-responsive" src="/video-placeholder.jpg">
  </div>
</template>

<template name="youtube">
  <iframe width="480" height="270" src="//www.youtube.com/embed/{{src}}?playlist={{src}}&loop=1&controls=0&autoplay=1&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen>
  </iframe>
</template>

<template name="multiScreen">
  <div id="screen-7" class="screen large">
    <div class="embed">
      <video class="autoplayable" width="960" height="540" autoplay="" loop="">
        <source src="http://hedgviz.s3.amazonaws.com/videos/he-ns-loop-960.mp4" type="video/mp4">
      </video>
    </div>
  </div>
 </template> 
