<template name="screens">
  <div class="page-header">
    <h1>Screens</h1>
  </div>
  {{#each this}}
    <div class="show-item-holder col-sm-3">
      {{code}}: {{name}}
    </div>
  {{/each}}
</template>

<template name="screensWidget">
  <div class="screens-container">
    <div class="row">
      <div class="screen-main col-xs-9">
        <div class="preview-screen">
          {{{screenTemplate 'main'}}}
        </div>
      </div>
      <div class="side-screens col-xs-3">
        <div class="row">
          <div class="screen-one col-xs-12">
            <div class="preview-screen">
              {{{screenTemplate 'one' editing}}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="screen-two col-xs-12">
            <div class="preview-screen">
              {{{screenTemplate 'two' editing}}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="screen-three col-xs-12">
            <div class="preview-screen">
              {{{screenTemplate 'three' editing}}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
